##Imports

In [0]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
# from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [0]:
# !pip install -U scikit-learn

In [2]:
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/data/
  inflating: __MACOSX/data/._.DS_Store
  inflating: data/final.csv
  inflating: __MACOSX/data/._final.csv

In [0]:
data_path = 'data/final.csv'

In [4]:
rides= pd.read_csv(data_path)
rides.head()

   0  0.1  0.2  13
0  0    0    0  13
1  0    0    1  56
2  0    0    2  72
3  0    0    3  59
4  0    0    4  43

In [5]:
rides

     0  0.1  0.2   13
0    0    0    0   13
1    0    0    1   56
2    0    0    2   72
3    0    0    3   59
4    0    0    4   43
5    0    0    5   56
6    0    0    6   48
7    0    0    7   21
8    0    1    0   15
9    0    1    1   38
10   0    1    2   48
11   0    1    3   61
12   0    1    4   29
13   0    1    5   62
14   0    1    6   44
15   0    1    7   36
16   0    2    0   10
17   0    2    1   43
18   0    2    2   91
19   0    2    3   66
20   0    2    4   57
21   0    2    5   71
22   0    2    6   65
23   0    2    7   55
24   0    3    0    9
25   0    3    1   63
26   0    3    2   65
27   0    3    3   76
28   0    3    4   33
29   0    3    5   54
..  ..  ...  ...  ...
599  9    3    2  157
600  9    3    3   91
601  9    3    4   72
602  9    3    5  107
603  9    3    6   82
604  9    3    7   67
605  9    4    0   18
606  9    4    1   71
607  9    4    2  124
608  9    4    3   86
609  9    4    4   69
610  9    4    5   93
611  9    4    6   72
612  9    4    7   59
613  9    5    0   27
614  9    5    1  118
615  9    5    2  113
616  9    5    3  102
617  9    5    4   72
618  9    5    5   84
619  9    5    6   65
620  9    5    7   61
621  9    6    0   21
622  9    6    1   77
623  9    6    2   79
624  9    6    3   71
625  9    6    4   60
626  9    6    5   57
627  9    6    6   43
628  9    6    7   37

[629 rows x 4 columns]

##Make Dataset

In [6]:
len(rides)
rides.shape

(629, 4)

In [0]:
# rides.drop(['XYZ','X1','X2','X3','X4'])

In [8]:
type(X[0][0])

NameError: ignored

In [9]:
X = rides.values[:, 0:3]
X = X.astype(np.int64)
X

array([[0, 0, 0],
       [0, 0, 1],
       [0, 0, 2],
       ...,
       [9, 6, 5],
       [9, 6, 6],
       [9, 6, 7]])

In [10]:
Y = rides.values[:,3]
Y = Y.astype(np.int64)
Y

array([ 13,  56,  72,  59,  43,  56,  48,  21,  15,  38,  48,  61,  29,
        62,  44,  36,  10,  43,  91,  66,  57,  71,  65,  55,   9,  63,
        65,  76,  33,  54,  73,  44,  12,  50,  49,  54,  40,  46,  74,
        75,  17,  59,  63,  63,  55,  55,  48,  48,  24,  54,  67,  72,
        63,  58,  50,  46,  10,  11,  46,  70,  51,  34,  28,  29,  34,
        42,   5,  47,  77,  40,  38,  31,  27,  35,  68,   7,  29,  81,
        62,  31,  39,  28,  16,  77,   5,  56,  74,  55,  27,  47,  41,
        28,  42,  18,  82,  99,  71,  62,  62,  55,  66,  47,  14, 104,
       101,  84,  53,  49,  41,  37,  52,  21,  67,  61,  65,  42,  35,
        26,  33,  27,  14,   1,  36,   1,   3,   1,   1,  46,   1,   1,
        63,  38,   2,   1,  53,  54,   3,   1,   2,   1,  24,  10,  37,
        69,  82,  53,  49,  69,  41,  10,  48,  61,  73,  39,  62,  59,
        41,  16,  40,  59,  76,  55,  53,  72,  63,  23,  72,  71,  61,
        61,  61,  59,  47,  18,  44,  94,  57,  62,  73,  52,  36,  12,
        46,  66,  68,  35,  38,  40,  30,  13,  33,  53,  44,  33,  46,
        52,  18,   9,  30,  50,  42,  32,  42,  47,  37,  11,  38,  39,
        62,  35,  44,  53,  33,  13,  68,  78,  72,  40,  65,  65,  81,
        17,  69,  65,  88,  67,  79,  70,  51,  18,  64,  81,  82,  59,
        84,  66,  58,  26,  73, 111,  76,  57,  62,  65,  44,  18,  46,
        79,  83,  51,  60,  77,  41,  11,  36,  68,  56,  43,  55,  43,
        20,  17,  65,  67,  62,  39,  45,  46,  26,  12,  48,  74,  71,
        60,  56,  57,  47,  25,  75,  85,  73,  54,  54,  54,  39,  26,
        61,  61,  69,  49,  60,  52,  48,  16,  53, 100,  85,  59,  54,
        53,  29,  15,  44,  80,  91,  54,  79,  49,  44,  21,  63, 111,
       118,  77, 109,  68,  45,  21,  78, 113, 110,  57,  79,  71,  46,
        23,  78, 121, 123,  76, 102,  91,  78,  24,  93,  98,  92,  52,
        61,  74,  51,  23,  72,  92,  55,  55,  48,  54,  48,  20,  75,
       120, 100,  77,  68,  84,  41,  10,  58,  84, 108,  54,  74,  72,
        34,  10,  48,  80,  96,  57,  75,  80,  45,  17,  63,  82, 103,
        54,  64,  72,  45,  22,  59,  88,  89,  55, 100,  93,  66,  28,
        91, 127, 130,  87,  93,  95,  81,  22,  81,  93, 129, 116,  99,
        92,  76,  28, 101, 131, 136,  88, 125,  87,  55,  22,  77, 119,
       120,  74, 102, 102,  71,  25,  74, 122, 149,  90, 134, 109,  69,
        14,  67,  89, 116,  61,  98,  99,  80,  21,  69, 121, 103,  58,
       120, 136,  69,  27, 101, 112, 119,  80,  88,  83,  74,  17,  78,
        94,  84,  86,  77,  84,  63,  19, 103, 112, 114,  63,  97,  86,
        57,  23,  72,  98, 108,  63, 105,  90,  48,  23,  91, 106, 119,
        68, 114,  84,  59,  33, 122, 131, 128,  82, 125, 110,  86,  31,
       112, 151, 141, 109, 136, 147,  67,  42, 155, 133, 159, 100, 128,
       128,  91,  23,  98,  95, 112,  89,  69,  83,  62,  24,  92, 191,
       106,  52,  88,  86,  38,  24,  66, 121,  85,  58,  85,  80,  49,
        17,  53, 121,  90,  48,  91,  72,  38,  19,  60, 151,  99,  64,
        86,  90,  49,  16,  71, 128,  75,  68, 104,  98,  67,  40, 106,
       121,  99,  84,  93,  78,  55,  28,  77, 128, 120,  89,  68,  66,
        63,  19,  84, 117,  83,  49,  54,  63,  31,  27,  87, 135,  99,
        54,  92,  92,  40,  33,  93, 139, 130,  73,  81,  74,  45,  19,
        96, 157,  91,  72, 107,  82,  67,  18,  71, 124,  86,  69,  93,
        72,  59,  27, 118, 113, 102,  72,  84,  65,  61,  21,  77,  79,
        71,  60,  57,  43,  37])

##Model

Using a Decision Tree Regressor.

In [11]:
from sklearn.tree import DecisionTreeRegressor  
  
# create a regressor object 
regressor = DecisionTreeRegressor(random_state = 0)  
  
# fit the regressor with X and Y data 
regressor.fit(X, Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [13]:
k = np.array([[0,0,0]]).astype(int)
y_pred = regressor.predict(k) 
  
# print the predicted price 
print("Predicted price: % d\n"% y_pred)

Predicted price:  13

In [14]:
regressor.score(X,Y)

1.0

In [0]:
output = []

f = open( 'data/sadata.csv', 'r' ) #open the file in read universal mode
for line in f:
    cells = line.split( "," )
    if (cells[2]=='0\n'):
      cells[2] = '0'
    elif (cells[2]=='1\n'):
      cells[2] = '1'
    elif (cells[2]=='2\n'):
      cells[2]= '2'
    elif (cells[2]=='3\n'):
      cells[2] = '3'
    elif (cells[2]=='4\n'):
      cells[2]= '4'
    elif (cells[2]=='5\n'):
      cells[2] = '5'
  
    output.append( ( cells[ 0 ], cells[ 1], cells[2])) #since we want the first, second and third column

f.close()

In [0]:
output

In [0]:
# output.remove(('from_month','from_day','from_time\n'))